.popup-tip-anchor {
  height: 0;
  position: absolute;
}
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 9px solid white;
}
.popup-bubble-content {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  transform: translate(-50%, -100%);
  background-color: white;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.5);
}
